.wrapper{
  margin: 0 auto;
  width: 70%;
  padding-left: 1em;
  padding-right: 1em;

}

h1{
  text-align: center;
}

a {
  text-decoration: none;
}

.template a{
  display: none;
}
body{
  background-image: url(/home/kenneth/codefellows/301/portfolio/IMAGES/white-background-with-music-notes_1048-1097.jpg);
  font-family: 'Lato', sans-serif;
}
